boto3==1.26.141
celery==4.4.7
celery_slack==0.4.1
ckanapi==4.7
dj_database_url==2.0.0
Django==4.2.1
django_filter==23.2
geopy==2.3.0
pytest==6.2.4
pytest==7.3.1
python_dateutil==2.8.2
pytz==2021.3
pytz==2023.3
Requests==2.31.0
sensor==6
sentry_sdk==1.24.0
setuptools==58.0.4
setuptools==67.8.0
timeago==1.0.16
