django==1.11.18 #LTS
django-extensions==2.1.4
django-filter==2.0.0
djangorestframework==3.9.0
psycopg2==2.7.6.1
coreapi==2.3.3
dj-database-url==0.5.0

gunicorn==19.9.0
gevent==1.2.2
greenlet==0.4.12
whitenoise==4.1.2

pylama==7.6.6
pytest==4.1.1
pytest-django==3.4.5

ckanapi==4.1
